<html>
	<head>
		<title> #{title} </title>
		style
			include ../static/style.css
			include ../static/utils.css
			
	</head>
  
<body>
<header class="head">
		<nav class="navBar flex">
			<div class="left-block flex">
				<ul class="flex ">
					<li><a href="/">Home</a></li>
					<li><a href="/about"> About </a></li>
					<li><a href="/contact"> Contact Us </a></li>
				</ul>
			</div>
		  
			<div class="right-block flex">
				<ul class="flex rightCon">
					<li> Search <input type="text" placeholder="search" class="search"></li>
					<li> Like </li>
					<li><a href="/cart"> Cart </a></li>
					<li><a href="/serverPage"> Store </a></li>
				</ul>
			</div>
	   
		</nav>	
		
</header>
	name: String,
	quantity: String,
	CityName: String,
	address: String,
	PhoneNumber: String
	
	<div class="content">
		#{content}
		<table class="table">
			<thead>
				<tr>
					<th scope="col"> quantity </th>
					<th scope="col"> CityName </th>
					<th scope="col"> address </th>
					<th scope="col"> PhoneNumber </th>
				</tr>
			</thead>
			
			<tbody>
			
				<% if(data.length){
			   
				for(var i=0; i=data.length; i++){%>
					<tr>
						<th scope="row"><%= (i+1) %></th>
						<td > <%= data[i].quantity %> </td>
						<td > <%= data[i].CityName %> </td>
						<td > <%= data[i].address %> </td>
						<td > <%= data[i].PhoneNumber %> </td>
					</tr>
					<%}
			   
				}else{%>
					<tr>
					
					<td colspan="3">No Orders </td>
					
					</tr>
				<%}%>
			
			</tbody>
		
		</table>
		
	</div>
	

	<script src="index.js"></script>
	<script src="script.js"></script>
	script
		include ../static/script.js
</body>
</html>